.boxA {position: fixed;
       bottom: 5px;
       float: left;
       padding: none;
       margin: none;
       background-color: #ffa104;}
       
.boxB {padding: none;
       margin: none;
       background-color: #12AA33;
		}       
       
@media(min-width: 768px){
.boxA {width: 640px;
       height: 160px;}
       
.boxB {width: 300px;
	   height: 250px;}       
}       
       
@media(max-width: 767px){
.boxA {width: 320px;
       height: 80px;}     
       
.boxB {width: 300px;
       height: 250px;
       }                
}       

